* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
}

.header {
  padding: 50px;
}

.header_one {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}

.header_two {
  display: flex;
  justify-content: space-between;
}

.mid_sectionA {
  width: 95%;
  height: 200px;
  border-radius: 5%;
  border: 2px solid #e1267b;
  background-color: #e1267b;
  margin-bottom: 30px;
  margin-top: -50px;
  margin-left: 30px;
  margin-right: 30px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.mid_sectionA {
  display: flex;
  justify-content: space-around;
}

.mid_sectionB_one {
  width: 95%;
  height: 50px;
  background-color: #efefef;
  padding: 5px 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.vertical_line {
  width: 20%;
  height: 5000px;
  border: 1px solid #e4d6d6;
  background-color: #e4d6d6;
}

.white_circle {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
}

span .white_circle_text1 {
  color: #e1267b;
  font-size: large;
  padding-top: 50px;
}

span .white_circle_text2 {
  color: #04a9f4;
  font-size: large;
  padding-top: 50px;
}

.mid_section_number {
  color: #fff;
  font-size: x-large;
  font-weight: 600;
  margin-top: 5px;
}

.mid_section_text {
  color: #fff;
  font-weight: 400;
  margin-left: 5px;
}

.mid_sectionB_one_text {
  color: #04a9f4;
  font-weight: 600;
}

.mid_convert_factor {
  width: 95%;
  height: 45px;
  background-color: #efefef;
  padding: 5px 15px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  border-radius: 0% 10% 10% 0;
}

.mid_convert_factor_text {
  width: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 60px;
  margin-right: 50px;
  margin-left: -14px;
  padding-left: 20px;
  background-color: #d9d9d9;
  color: #7f7f7f;
  font-weight: 600;
}

.mid_convert_factor_number {
  width: 70%;
  background-color: #f3f3f3;
  color: #a6a6a6;
  font-weight: 400;
}

.send_receive {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  padding-bottom: 20px;
}

.send_text {
  width: 150px;
  height: 40px;
  border: 2px solid #04a9f4;
  background-color: #04a9f4;
  border-radius: 4%;
}

.receive_text {
  width: 150px;
  height: 40px;
  border: 2px solid #04a9f4;
  background-color: #04a9f4;
  border-radius: 4%;
}

.send_text_item {
  color: #fff;
  padding: 40px;
  padding-top: 80px;
}

.receive_text_item {
  color: #fff;
  padding: 40px;
  margin-top: 30px;
}

.mid_sectionB_one_textB {
  color: #c9b9b9;
  font-weight: 700;
}

.mid_sectionC {
  width: 95%;
  height: 50px;
  background-color: #999393;
  padding: 5px 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.recent_activities_list {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 35px;
  border-bottom: 2px solid #eee8e8;
}

.mid_sectionD {
  width: 95%;
  height: 40px;
  border: 2px solid #d9d9d9;
  background-color: #d9d9d9;
  padding: 5px 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.footer_secction {
  display: flex;
  justify-content: space-evenly;
}

.footersection_item_name {
  color: red;
  font-weight: 600;
}
